footer {
  width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.center_content {
  display: flex;
  flex-direction: column;
}

.subscribe_button {
  margin: 0 auto;
  background-color: rgba(148, 203, 255, 1);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 0px black;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.links {
  display: flex;

  flex-direction: column;
  text-align: right;
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Унаследует цвет текста от родительского элемента */
  display: block; /* Делает ссылку блочной, чтобы она охватывала весь контейнер */
}

.link {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.description {
  padding-bottom: 20px;
}

@media (max-width: 500px) {
  footer {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: left;
    text-align: left;
  }
  .container {
    flex-direction: column;

    margin: 0;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
  }

  .logo_img {
    padding: 0 10px 0 0;
  }

  .logo {
    margin-bottom: 20px;
  }

  .center_content {
    align-items: flex-start;
  }

  p {
    text-align: left !important;
  }
  .subscribe_button {
    margin: 0 0 20px 0;
  }
}
